body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    align-items: center;
}

#new-grid-btn {
    font-size: large;
}

.grid-container {
    width: 676px;
}

.grid {
    display: flex;
    border: 1px solid black;
}

.cell {
    box-sizing: border-box;
    border: 1px solid rgb(0, 0, 0, 0.1);
}